@import "tailwindcss";

:root {
  --background: #fff8f1;
  --foreground: #4a2c22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-fraunces);

  --color-brand-pink: #e57acb;
  --color-brand-gold: #e5a851;
  --color-brand-ivory: #fefefd;
  --color-brand-cocoa: #4a2c22;
  --color-brand-cream: #fff8f1;
}

body {
  background: var(--background);
  color: var(--foreground);
}
